.aside-menu {
  display: none;
  background-color: $blue;
  @include medium() {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    top: 0;
    overflow: auto;
  }
}

.aside-menu__store-link {
  display: none;
  @include medium() {
    display: block;
    padding: 15px 5px 5px 5px;
    border-top: 1px solid grey;
  }
}

.shortcuts {
  display: none;
  @include medium() {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.shortcuts__item {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.shortcuts__item--active {
  position: relative;
  a {
    svg {
      fill: $green;
      path {
        fill: $green;
      }
    }
  }
  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    background-color: $green;
  }
}

.icon-img {
  width: 100%;
  height: auto;
  display: block;
}

.icon-img--menu {
  max-width: 22px;
}

.aside-menu__actito-logo {
  max-width: 28px;
}
