.button {
  font-size: 0.8rem;
  background-color: #ffffff;
  padding: 6px 12px;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 5px;
  cursor: pointer;
}

.button--dark {
  background-color: #333333;
  border: 1px solid #2b2b2b;
  color: #ffffff;
  cursor: pointer;
}
