.campaign-selector {
  display: flex;
  flex-wrap: wrap;
  @include medium() {
    flex: 1 0 auto;
  }
}

.campaign-selector__tabs {
  background-color: #f9f9fb;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  @include medium() {
    padding: 20px 15px 15px;
    flex-direction: row;
    width: 100%;
  }
}

.tab {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #c7c7c9;
  @include medium() {
    margin: 0;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  &:hover {
    border-bottom: 2px solid #8cc63e;
    transition: all 0.5s;
    cursor: pointer;
  }
}

.tab--active {
  border-bottom: 2px solid #8cc63e;
}
.campaign-selector__header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  @include medium() {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.campaign-selector__categories {
  padding: 10px;
  @include medium() {
    flex: 0 0 300px;
    margin: 25px 0;
    padding-left: 15px;
    border-right: 1px solid $grey;
  }
}
.campaign-selector__group {
  flex: 1 0 49%;
  margin: 10px;
  @include medium() {
    height: calc(100vh - 202px);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin: 25px 0;
    align-content: flex-start;
  }
  @include large() {
    padding-right: 110px;
  }
}

.list {
  padding-left: 5px;
}
.list-item {
  font-size: 0.625rem;
  margin-bottom: 20px;
  &::before {
    @include anchor();
  }
  &:first-of-type {
    margin-top: 20px;
  }
}
