.card {
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
  border-radius: 2px;
  max-width: 150px;
  min-height: 195px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.2s;

  @include medium() {
    margin-right: 20px;
  }
  &:hover {
    background-color: darken($color: #f9f9f9, $amount: 5);
  }
}

.card__img-container {
  margin: 10px;
}
.card__text-container {
  text-align: center;
  margin: auto 10px 10px;
  font-size: 0.725rem;
}

.card-img {
  max-height: 150px;
  margin: 0 auto;
}

.card--active {
  background-color: $blue;
  color: #ffffff;
  font-weight: bold;
  &:hover {
    background-color: darken($color: $blue, $amount: 5);
  }
}
