.deck-wrapper {
  grid-column: 1/3;
  margin-top: 15px;
  @include medium() {
    flex: 1 1;
    position: relative;
  }
}
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @include medium() {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
  }
}
