.mobile-menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: $blue;
  left: -100vw;
  @include medium() {
    display: none;
  }
  transition: all 0.7s ease-in-out;
  &.mobile-menu--active {
    left: 0;
    z-index: 1;
  }
}

.menu-trigger {
  box-sizing: content-box;
  max-width: 40px;
  max-height: 40px;
  padding: 12px;
  margin: 0 10px;
  right: 0;
  position: fixed;
  z-index: 2;
  @include medium() {
    display: none;
  }
}
