.searchbox {
  max-width: 300px;
  width: 100%;
  background-image: url(../../img/search-solid.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 12px;
  height: 30px;
  border: 1px solid $grey;
  border-radius: 2px;
  padding: 5px 30px;
  font-size: 14px;
}
