a:hover {
  .svg-hoverable {
    fill: #ffffff;
    transform: scale(1.2);
    transition: all 0.5s;
    display: block;
    path {
      fill: $green;
    }
  }
}

.svg-hoverable {
  display: block;
}
