.top-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey;
  @include medium() {
    flex: 0 0 50px;
    padding: 0 15px;
  }
}

.top-bar__nav {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  margin: 15px;
  padding-right: 50px;
  @include medium() {
    margin: 10px;
    flex-wrap: nowrap;
    margin-right: auto;
  }
}

.main-category {
  font-size: 1rem;
  color: $dark;
  margin: 0;
  &:after {
    @include anchor;
  }
}

.nav-item {
  display: none;
  @include medium() {
    display: block;
    font-size: 0.75rem;
    color: $blue;
    &:not(:last-of-type) {
      &:after {
        @include anchor;
      }
    }
  }
}

.icon-img--nav {
  max-width: 25px;
}
.top-bar__item {
  display: none;
  @include medium() {
    display: block;
  }
}
.top-bar__item--center {
  padding: 0 25px;
}

.nav-item--active {
  font-weight: bold;
}
