// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

/* Reset lists */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
/* Full height page */
html {
  height: 100%;
}
body {
  height: 100vh;
}
.root {
  height: 100%;
}

/* Colors */
$blue: #1b2f50;
$dark: #333333;
$grey: #eaeaec;
$green: #8bc53d;
$text-color: #3f3f3f;
