/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.subtitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bolder;
  margin: 0;
}

.simple-text {
  font-size: 12px;
  @include large() {
    max-width: 50%;
  }
}
