// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin anchor {
  content: "";
  background-image: url(../../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: grey;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
}

@mixin medium {
  @media only screen and(min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and(min-width: 1024px) {
    @content;
  }
}

@mixin fa($unicode, $color) {
  &:before {
    content: \$unicode;
    font-family: "FontAwesome";
    color: $color;
    @content;
  }
}
