/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p {
  margin: 0;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #222222;
  text-decoration: underline;
}

/* Reset lists */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

/* Full height page */
html {
  height: 100%;
}

body {
  height: 100vh;
}

.root {
  height: 100%;
}

/* Colors */
/**
 * Basic typography style for copy text
 */
body {
  color: #3f3f3f;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.subtitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bolder;
  margin: 0 0 20px 0;
}

.simple-text {
  font-size: 12px;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-bar {
  display: flex;
  align-items: center;
  flex: 0 0 50px;
  padding: 0 15px;
  border-bottom: 1px solid #eaeaec;
}

.top-bar__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.main-category {
  font-size: 1rem;
  color: #333333;
  margin: 0;
}
.main-category:after {
  content: "";
  background-image: url(../../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: grey;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
}

.nav-item {
  font-size: 0.75rem;
  color: #1b2f50;
}
.nav-item:not(:last-of-type):after {
  content: "";
  background-image: url(../../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: grey;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
}

.icon-img--nav {
  max-width: 25px;
}

.top-bar__item--center {
  padding: 0 25px;
}

.nav-item--active {
  font-weight: bold;
}

.searchbox {
  width: 100%;
  background-image: url(../../img/search-solid.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 16px;
  height: 30px;
  border: 1px solid #eaeaec;
  border-radius: 2px;
}

.aside-menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .aside-menu {
    width: 60px;
    background-color: #1b2f50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    top: 0;
  }
}

.aside-menu__store-link {
  padding: 15px 5px 5px 5px;
  border-top: 1px solid grey;
}

.shortcuts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shortcuts__item {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.shortcuts__item--active {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.icon-img {
  width: 100%;
  height: auto;
  display: block;
}

.icon-img--menu {
  max-width: 22px;
}

.aside-menu__actito-logo {
  max-width: 28px;
}

.actito-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  padding-left: 60px;
}

.campaign-selector {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  justify-items: stretch;
  align-items: stretch;
  flex: 1;
}

.campaign-selector__tabs {
  background-color: #f9f9fb;
  padding: 20px 15px 15px;
  display: flex;
  grid-column: 1/3;
}

.tab {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #3f3f3f;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #c7c7c9;
}
.tab:not(:last-of-type) {
  margin-right: 15px;
}

.tab--active {
  border-bottom: 2px solid #8cc63e;
}

.campaign-selector__categories {
  padding-left: 15px;
  border-right: 1px solid #eaeaec;
  margin: 25px 0;
}

.campaign-selector__form {
  height: calc(100vh - 188px);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 110px;
  margin: 25px 0;
  align-content: flex-start;
}

.list {
  padding-left: 5px;
}

.list-item {
  font-size: 0.625rem;
  margin-bottom: 20px;
}
.list-item::before {
  content: "";
  background-image: url(../../img/arrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: grey;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 7px;
  margin-right: 5px;
}

.deck-wrapper {
  grid-column: 1/3;
  margin-top: 15px;
  flex: 1 1;
  position: relative;
}

.deck {
  position: absolute;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  width: 100%;
  gap: 20px;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  overflow-y: auto;
}

.card {
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
  border-radius: 2px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.card__img-container {
  margin: 10px;
}

.card__text-container {
  text-align: center;
  margin: auto 10px 10px;
  font-size: 0.725rem;
}

.card-img {
  max-height: 150px;
  margin: 0 auto;
}

a:hover .svg-hoverable {
  fill: #ffffff;
  transform: scale(1.2);
  transition: all 0.5s;
  display: block;
}
a:hover .svg-hoverable path {
  fill: #8bc53d;
}

.svg-hoverable {
  display: block;
}

/*# sourceMappingURL=style.css.map */
